* {
    font-family: Cantarell;
    user-select: none;
}
:root {
    --shade-0: #ffffff;
    --shade-1: #f1f1f1;
    --shade-2: #dddddd;
    --shade-3: #b3b3b3;
    --shade-4: #919191;
    --loading-color: #1b6eda;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--shade-0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--shade-4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--shade-4);
}

body {
    background-color: var(--shade-0);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#tabs {
    display: flex;
    flex-flow: column;
    background: linear-gradient(90deg, var(--shade-0) 0 18px, var(--shade-2) 18px calc(100% - 18px), var(--shade-0) calc(100% - 18px) 100%);
    border-radius: 8px;
    margin: 10px;
    max-height: calc(100vh - 68px);
    overflow-y: scroll;
}
.tab {
    display: flex;
    align-items: center;
    background-color: var(--shade-0);
    border-radius: 8px;
    transition: background-color 200ms;
    padding: 8px 8px 8px 8px;
    margin-bottom: 1px;
}
.tab:last-child {
    margin-bottom: 0;
}
.tab:hover, .tab.active {
    background-color: var(--shade-1);
}
.tab > img {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-image: url("assets/globe.png");
    background-size: 18px;
    position: relative;
    right: 34px;
}
.tab > img[src] {
    background-image: none;
    border-radius: 0;
}
.tab > p {
    margin: 0 0 0 8px;
    z-index: 9;
    font-size: 14px;
    position: relative;
    right: 33px;
    text-overflow: ellipsis;
    width: calc(100% - 48px);
    overflow: hidden;
    white-space: nowrap;
}
.tab > button {
    opacity: 0;
    border: none;
    border-radius: 9px;
    background: none;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 100ms;
    margin-right: 0;
    z-index: 10;
    position: relative;
    left: calc(100% - 18px);
    cursor: pointer;
}
.tab > button:hover {
    background: rgba(205, 205, 205, 0.5);
    transition: background 100ms;
}
.tab:hover > button {
    opacity: 1;
}
.tab button > img {
    height: 16px;
    width: 16px;
}

#menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: var(--shade-1);
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    position: fixed;
    left: 6px;
    bottom: 54px;
    opacity: 1;
    pointer-events: all;
    transition: opacity 100ms;
}
#menubar.hide {
    opacity: 0;
    pointer-events: none;
}

#menubar > span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px 0;
}
#menubar > span * {
    margin: 0;
}
#menubar > span > p {
    margin-left: 5px;
    color: var(--shade-4);
}
#menubar > button {
    border: none;
    border-radius: 6px;
    background-color: var(--shade-0);
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 200ms;
}
#menubar > button:hover {
    background-color: var(--shade-1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    background-color: var(--shade-1);
    position: fixed;
    bottom: 0;
    padding: 10px;
}
footer > span {
    width: 100%;
}
footer > button {
    border: none;
    border-radius: 50%;
    background: none;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 200ms;
}
footer > button:hover {
    background-color: var(--shade-2);
}
footer > button > img {
    height: 20px;
    width: 20px;
}

/* HTML: <div class="loader"></div> */
.tab > .loader {
    position: relative;
    right: 16.5px;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2.5px solid var(--loading-color);
    animation: none;
    opacity: 0;
}
.tab.loading > .loader {
    opacity: 1;
    animation:
            l20-1 0.8s infinite linear alternate,
            l20-2 1.6s infinite linear;
}
.tab.loading > img {
    height: 10px;
    width: 10px;
    background-size: 10px;
    right: 30px;
}
.tab.loading > p {
    right: 27px;
}
@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

.tab.unloaded > {
    opacity: 0.5;
}